.about {
    position: relative;
    min-height: 700px;
    background: url('../img/interier/concrete.jpg') no-repeat 100%/cover;
    box-shadow: 0px 23px 20px 10px rgba(238, 240, 166, 0.10) inset;
    // box-shadow: 0px 15px 6px 0px rgba(34, 60, 80, 0.2);
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 170px;
    overflow-x: hidden;

    &__title {
        @include title;
    }

    &__line {
        @include green-line;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &-descr {


            background-color: rgb(249, 252, 252);
            box-shadow: -10px -10px 8px 4px rgba(239, 240, 185, 0.2), 10px 10px 8px 4px rgba(239, 240, 185, 0.2);
            background: linear-gradient(90deg, rgb(247, 246, 246) 0%, rgb(245, 245, 243) 35%, rgb(232, 233, 231) 100%);
            text-shadow: none;
            color: black;
            padding: 15px;
            border-radius: 5px;

            width: 45%;
            // color: azure;
            font-size: 19px;
            font-weight: 500px;
            // text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.9), -3px -3px 20px rgba(0, 0, 0, 0.9), -3px 3px 20px rgba(0, 0, 0, 0.9), 3px -3px 20px rgba(0, 0, 0, 0.9);

            a {
                display: inline;
                font-size: 20px;
                font-weight: 600;
                color: rgb(0, 0, 0);
                // text-shadow: 3px 3px 20px rgba(247, 248, 185, 0.9), -3px -3px 20px rgba(247, 248, 185, 0.9), -3px 3px 20px rgba(247, 248, 185, 0.9), 3px -3px 20px rgba(247, 248, 185, 0.9);
            }
        }

        &-slider {
            width: 45%;

            &-item {
                border-radius: 5px;
                width: 100%;
                height: 100%;
                box-shadow: -10px -10px 8px 4px rgba(247, 248, 185, 0.3), 10px 10px 8px 4px rgba(247, 248, 185, 0.3), -10px 10px 8px 4px rgba(247, 248, 185, 0.3), 10px -10px 8px 4px rgba(247, 248, 185, 0.3);

                img {
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__reviews {
        margin-top: 50px;
        height: 300px;
        background: url("../img/interier/main2CutDark.jpg") no-repeat 100%/cover;
        background-attachment: fixed;
        box-shadow: 0px 10px 8px 4px rgba(247, 248, 185, 0.3), 0px -10px 8px 4px rgba(247, 248, 185, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 45%;
            transition: 1.5s all;

            &-descr {



                color: azure;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }

            &-photo {
                margin-top: 10px;
                width: 60px;
                height: 60px;

                img {
                    width: 100%;
                    height: 100%;
                    border: 1px solid azure;
                    border-radius: 100%;
                }
            }

            &-name {
                padding-top: 10px;
                color: azure;
            }
        }

        &-dots {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                border: 2px solid white;
                cursor: pointer;
            }
        }
    }
}