.description {
    height: 400px;
    background-image: url('../img/interier/brick2.jpg');
    box-shadow: 0px 23px 20px 25px rgba(239, 240, 185, 0.2) inset;
    h2 {
        color:azure;
        text-align: center;
        padding-top: 40px;
        font-size: 40px;
        font-weight: 600;
    }
}