.description {
    position: relative;
    min-height: 400px;
    background: url('../img/interier/concrete3.jpg') no-repeat 100%/cover;
    box-shadow: 0px 23px 20px 10px rgba(238, 240, 166, 0.10) inset;
    // box-shadow: 0px 15px 6px 0px rgba(34, 60, 80, 0.2);
    padding-bottom: 55px;
    background-attachment: fixed;


    &__title {
        @include title
    }

    &__line {
        @include green-line;
    }

    &__wrapper {
        display: flex;
        // justify-content: start;
        align-items: center;
        padding-top: 25px;


    }

    &__img {
        width: 450px;
        height: 600px;

        box-shadow: -10px -10px 8px 4px rgba(239, 240, 185, 0.2), 10px 10px 8px 3px rgba(239, 240, 185, 0.2);

        &:nth-child(1) {
            margin-right: 10px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__about {
        width: 400px;
        min-height: 250px;
        background-color: $green_color2;
        background: linear-gradient(90deg, rgba(62, 87, 17, 1) 0%, rgba(51, 68, 22, 1) 35%, rgba(27, 36, 12, 1) 100%);
        padding: 20px;
        z-index: 6;
        position: absolute;

        right: 0px;
        top: 750px;



        &-title {
            color: azure;
            font-size: 24px;
        }

        &-text {
            color: azure;
            font-size: 18px;
        }
    }
}