.drinks {
    padding-top: 50px;
    min-height: 400px;
    background: url('../img/interier/concrete.jpg') no-repeat 100%/cover;
    box-shadow: 0px 23px 20px 10px rgba(238, 240, 166, 0.10) inset;
    background-attachment: fixed;
    padding-bottom: 150px;

    &__title {
        @include title;
        padding-top: 25px;

    }

    &__greenLine {
        @include green-line;
        margin: 20px auto;
    }

    &__container {
        position: relative;
        background-color: rgb(249, 252, 252);

        padding-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 0.3fr 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        &-title {
            font-size: 26px;
            font-weight: 400;
            text-align: center;
            line-height: 45px;
        }

    }

    &__items-coffee {
        grid-area: 1 / 1 / 4 / 2;
        padding-left: 20px;
        position: relative;
        border-top: 3px solid rgb(130, 214, 3);
        border-bottom: 3px solid rgb(130, 214, 3);
        width: 100%;
        margin-right: 0;
        margin-left: auto;
        padding-top: 20px;

        &-title {
            text-transform: uppercase;
            font-size: 30px;
            padding-left: 10px;
        }
    }

    &__item-coffee {
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        line-height: 29px;

        &-price {
            font-size: 20px;
            font-weight: 500;
            width: 10%;
            text-align: right;
        }

        &-descr {
            font-size: 20px;
            font-weight: 500;
            // width: 70%;
            padding-left: 10px;
        }

        &-new {

            animation-name: new;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            padding-left: 10px;

            img {

                width: 25px;
            }
        }

        &-milk {
            font-size: 16px;
            color: red;
            font-weight: 600;
            text-align: center;
        }

        &-syrup {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 120px;
            min-height: 70px;
            background-color: rgb(235, 100, 10);
            color: azure;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            padding: 10px;

            span {
                font-size: 22px;
                font-family: 'Dancing Script', cursive;
                font-weight: 600;
            }
        }
    }

    &__items-tea {
        grid-area: 1 / 2 / 2 / 3;
        padding-left: 20px;
        position: relative;
        border-top: 3px solid rgb(130, 214, 3);
        width: 100%;
        padding-right: 20px;
        padding-top: 20px;

        &-title {

            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-name {
                text-transform: uppercase;
                padding-left: 10px;
                font-size: 30px;
                width: 15%;
            }

            &-descr {
                width: 30%;
                font-size: 12px;
                
            }

            &-size {
                width: 55%;
                text-align: end;
                font-size: 22px;
            }
        }
    }

    &__item-tea {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 29px;

        &-descr {
            font-size: 20px;
            font-weight: 500;
            width: 70%;
            padding-left: 10px;
        }

        &-price {
            font-size: 20px;
            font-weight: 500;
            // width: 10%;
            text-align: right;
        }

        &-post {
            margin-top: -10px;

            &-descr {
                font-size: 15px;
                padding-left: 10px;
            }
        }
    }


    &__items-smoothies {
        grid-area: 2 / 2 / 3 / 3;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        border-top: 3px solid rgb(130, 214, 3);
        border-left: 3px solid rgb(130, 214, 3);
        width: 100%;
        // margin-right: 0;
        // margin-left: auto;

        &-title {
            padding-left: 10px;
            font-size: 30px;
            text-transform: uppercase;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -20px;
            width: 35px;
            height: 35px;
            background: url("../icons/vegan.png")no-repeat 100%/cover;
        }
    }

    &__item-smoothies {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 29px;

        &-descr {
            font-size: 20px;
            font-weight: 500;
            // width: 70%;
            padding-left: 10px;
        }

        &-price {
            font-size: 20px;
            font-weight: 500;
            // width: 10%;
            text-align: right;
        }

        &-post {
            margin-top: -10px;

            &-descr {
                font-size: 15px;
                padding-left: 10px;
            }
        }
        &-noSugar {
            position: absolute;
            right: 120px;
            top: 10px;
            width: 30px;
            height: 30px;
            img {
                border: 1px solid rgb(73, 64, 64);
                border-radius: 100%;
                width: 100%;
                height: 100%;

            }
        }


    }

    &__items-drinks {
        grid-area: 3 / 2 / 4 / 3;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        border-top: 3px solid rgb(130, 214, 3);
        border-left: 3px solid rgb(130, 214, 3);
        width: 100%;
        margin-right: 0;
        margin-left: auto;

        &-title {
            text-transform: uppercase;
            padding-left: 10px;
            font-size: 30px;
        }
    }


    &__item-drinks {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 29px;

        &-descr {
            font-size: 20px;
            font-weight: 500;
            // width: 70%;
            padding-left: 10px;
        }

        &-price {
            font-size: 20px;
            font-weight: 500;
            // width: 10%;
            text-align: right;
        }

        &-post {
            margin-top: -10px;

            &-descr {
                font-size: 15px;
                padding-left: 10px;
            }
        }
    }







    // &__item-post {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     line-height: 10px;

    //     &-price {
    //         font-size: 15px;
    //         font-weight: 400;
    //         width: 5%;
    //         text-align: right;
    //     }

    //     &-descr {
    //         font-size: 15px;
    //         font-weight: 400;
    //         width: 85%;
    //         padding-left: 10px;
    //     }

    //     &-new {
    //         width: 10%;

    //         img {
    //             width: 25px;
    //         }
    //     }
    // }

    &__greyLine {
        width: 100%;
        height: 1px;

        background-color: grey;

    }

    &__nuts {
        padding: 10px;
        position: absolute;
        right: 70px;
        bottom: 80px;
        width: 180px;
        height: 90px;
        border: 3px solid rgb(190, 4, 4);
        border-radius: 7px;
        transform: rotateZ(345deg);
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: black;
    }

}