@keyframes showBackground {
    0% {
        background-image: url("../img/interier/main3.jpg");

    }

    33% {
        background-image: url("../img/interier/main3.jpg");

    }

    66% {
        background-image: url("../img/interier/main5.jpg");
    }

    100% {
        background-image: url("../img/interier/main5.jpg");
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0px);
        opacity: 0.2;
    }

    50% {

        opacity: 1;
    }

    100% {
        transform: translateY(20px);
        opacity: 0.2;
    }
}