@media(max-height: 1366px) {
    .container {
        max-width: 1140px;
    }

    .description {
        &__about {
            right: 0px;
        }
    }

    .promotion {
        &__item {
            width: 70%;
        }
    }

}

@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .promo {
        &__goodMorning {
            width: 80%;

            &-hello {
                font-size: 28px;
            }

            &-text {
                font-size: 20px;
            }
        }
    }


    .description {
        &__about {
            width: 400px;
            min-height: 300px;
            right: -50px;
        }
    }

    .delivery {
        &__item {
            width: 70%;
        }
    }



}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header {
        &__logo {
            width: 10%;

            &-text {
                display: none;
            }
        }

        &__items {
            width: 90%;

            &-item {
                a {
                    font-size: 16px;
                }

            }
        }
    }

    .promo {
        &__goodMorning {
            width: 80%;

            &-hello {
                font-size: 24px;
            }

            &-text {
                font-size: 18px;
            }
        }
    }


    .description {
        &__about {
            position: static;
            top: auto;
            right: inherit;
            margin-top: 10px;
            width: 100%;
            min-height: 150px;

            &-title {
                text-align: center;
            }

            &-text {
                font-size: 18px;
            }
        }
    }

    .novelty {
        &__img {
            &:nth-child(1) {
                height: 400px;
                box-shadow: -10px -10px 8px 4px rgba(239, 240, 185, 0.2), 10px 10px 8px 3px rgba(239, 240, 185, 0.2);
            }

            &:nth-child(2) {
                width: 300px;
                margin-left: 10px;
                box-shadow: -10px -10px 8px 4px rgba(239, 240, 185, 0.2), 10px 10px 8px 3px rgba(239, 240, 185, 0.2);
            }
        }

        &__menu {
            position: relative;
            width: 100%;
            top: 0px;
            left: 0px;
            margin-top: 15px;
        }

        &__wrapper {

            justify-content: space-around;

        }

    }

    .promotion {
        &__item {
            width: 80%;
        }
    }

    .menu {
        &__item {
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            line-height: 25px;

            &-price {
                font-size: 18px;
                font-weight: 500;
                width: 7%;
                text-align: right;
            }

            &-descr {
                span {
                    font-size: 18px;
                }

                font-size: 15px;
                font-weight: 500;
                // width: 85%;
                padding-left: 10px;
            }

            &-new {
                // width: 10%;
                padding-left: 10px;
                animation-name: new;
                animation-duration: 2s;
                animation-iteration-count: infinite;

                img {
                    width: 25px;
                }
            }
        }

        &__item-post {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 10px;

            &-price {
                font-size: 15px;
                font-weight: 400;
                width: 8%;
                text-align: right;
            }

            &-descr {
                font-size: 13px;
                font-weight: 400;
                width: 85%;
                padding-left: 10px;
            }

            &-new {
                width: 10%;

                img {
                    width: 25px;
                }
            }
        }

        &__nuts {
            right: 40px;
        }

    }

    .glutenFree {
        &::before {
            top: 5px;
            // transform: translateX(-50%);
            left: -25px;
            width: 20px;
            height: 20px;

        }
    }

    .vegan {
        &::before {
            top: 5px;
            // transform: translateX(-50%);
            left: -25px;
            width: 20px;
            height: 20px;

        }
    }

    .sugarFree {
        &::after {
            top: 5px;
            left: -50px;
            width: 20px;
            height: 20px;

        }
    }

    .drinks {
        &__item-coffee {
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            line-height: 24px;

            &-price {
                font-size: 16px;
                font-weight: 500;
                width: 10%;
                text-align: right;
            }

            &-descr {
                font-size: 16px;
                font-weight: 500;
                // width: 70%;
                padding-left: 10px;
            }

            &-milk {
                font-size: 12px;
                color: red;
                font-weight: 600;
                text-align: center;
            }
        }

        &__items-tea {

            &-title {


                &-name {
                    text-transform: uppercase;
                    padding-left: 10px;
                    font-size: 30px;
                    width: 25%;
                }

                &-descr {
                    width: 30%;
                    font-size: 10px;

                }

                &-size {
                    width: 45%;
                    text-align: end;
                    font-size: 18px;
                }
            }
        }

        &__items-tea,
        &__items-smoothies,
        &__items-drinks {
            padding-right: 10px;
        }

        &__item-tea,
        &__item-smoothies,
        &__item-drinks {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 24px;

            &-descr {
                font-size: 16px;
                font-weight: 500;
                width: 70%;
                padding-left: 0px;
            }

            &-price {
                font-size: 16px;
                font-weight: 500;
                // width: 10%;
                text-align: right;
            }

            &-post {
                margin-top: -10px;

                &-descr {
                    font-size: 12px;
                    padding-left: 0px;
                }
            }
        }

        &__item-smoothies {
            &-descr {
                font-size: 16px;
                font-weight: 500;
                width: 90%;
                padding-left: 0px;
            }
        }
    }

    .delivery {
        &__item {
            width: 80%;
        }
    }
}

@media(max-width: 768px) {

    .container {
        max-width: 540px;
    }

    .header {
        &__logo {
            width: 40%;

            &-text {
                display: block;
            }
        }

        &__items {
            display: none;
        }

        &__hamburger {
            display: block;
            visibility: visible;
        }
    }

    .promo {
        animation: showBackgroundMobile 18s ease infinite alternate;

        &__goodMorning {
            width: 80%;
            left: 40px;

            &-hello {
                font-size: 26px;
            }

            &-text {
                font-size: 18px;
            }
        }
    }


    .description {
        background: url('../img/interier/concrete.jpg') no-repeat 100%/cover;

        // box-shadow: none;
        // background-attachment: none;
        &__title {
            font-size: 26px;
        }

        &__wrapper {
            justify-content: space-between;
            padding-top: 25px;
        }

        &__img {
            width: 270px;
            height: 400px;
            padding-right: 0;
        }
    }

    .novelty {
        &__title {
            font-size: 26px;
            padding-top: 20px;
        }

        &__post {
            background: url('../img/interier/concrete.jpg') no-repeat 100%/cover;
            box-shadow: none;
            // background-attachment: none;
        }
    }

    .promotion {

        &__post {
            background: url('../img/interier/concrete-mob.jpg') no-repeat 100%/cover;
        }


        &__title {
            font-size: 26px;
            padding-top: 20px;
        }

        &__item {
            width: 90%;

            &-title {
                font-size: 20px;
            }

            &-descr {
                font-size: 17px;
            }
        }

        &__explanation {
            font-size: 16px;
        }
    }

    .footer {
        &-contacts {
            width: 40%;

            &-item {
                &-descr {
                    font-size: 14px;
                }

            }


        }

        &__powered {
            font-size: 12px;
            width: 26%;

        }
    }

    .menu {
        &__item {
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-bottom: 5px;
            line-height: 18px;

            &-price {

                font-size: 16px;
                font-weight: 500;
                width: 9%;
                text-align: right;
                align-self: flex-start;

            }

            &-descr {
                span {
                    font-size: 16px;
                    align-self: flex-start;
                }

                font-size: 14px;
                font-weight: 500;
                width: 83%;
                padding-left: 10px;
                align-self: flex-start;
            }

            &-new {
                // width: 10%;
                padding-left: 5px;
                animation-name: new;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                align-self: flex-start;

                img {
                    width: 25px;
                }
            }
        }

        &__item-post {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 10px;
            margin-top: -5px;
            padding-bottom: 5px;

            &-price {
                font-size: 13px;
                font-weight: 400;
                width: 9%;
                text-align: right;
            }

            &-descr {
                font-size: 11px;
                font-weight: 400;
                width: 85%;
                padding-left: 10px;
            }

            &-new {
                width: 10%;

                img {
                    width: 25px;
                }
            }
        }

        &__nuts {
            margin: 20px auto 0px auto;
            padding: 10px;
            position: static;

            width: 70%;
            height: 70px;
            border: 3px solid rgb(190, 4, 4);
            border-radius: 7px;
            transform: rotateZ(0deg);
            text-align: center;
            font-size: 13px;
            line-height: 13px;
            font-weight: 500;

        }

    }

    .glutenFree {
        &::before {
            top: 0;
            // transform: translateX(-50%);
            left: -20px;
            width: 15px;
            height: 15px;

        }
    }

    .vegan {
        &::before {
            top: 0;
            // transform: translateX(-50%);
            left: -20px;
            width: 15px;
            height: 15px;

        }
    }

    .sugarFree {
        &::after {
            top: 0;
            left: -37px;
            width: 15px;
            height: 15px;

        }
    }

    .drinks {
        padding-bottom: 250px;

        &__container {
            display: block;
        }

        &__item-coffee {
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            line-height: 24px;

            &-price {
                font-size: 16px;
                font-weight: 500;
                width: 10%;
                text-align: right;
            }

            &-descr {
                font-size: 16px;
                font-weight: 500;
                // width: 70%;
                padding-left: 10px;
            }

            &-milk {
                font-size: 13px;
                color: red;
                font-weight: 600;
                text-align: center;

            }
        }

        &__items-tea {
            &-title {
                &-name {
                    padding-left: 0px;
                }
            }
        }

        &__items-coffee,
        &__items-tea,
        &__items-smoothies,
        &__items-drinks {
            padding-right: 10px;
            border-top: 3px solid rgb(130, 214, 3);
            border-left: 3px solid rgb(130, 214, 3);
            border-right: 3px solid rgb(130, 214, 3);
            border-bottom: none;
            padding-bottom: 10px;

            &-title {
                padding-left: 0px;
            }
        }

        &__items-drinks {
            border-bottom: 3px solid rgb(130, 214, 3);
        }

        &__item-tea,
        &__item-smoothies,
        &__item-drinks {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 24px;

            &-descr {
                font-size: 16px;
                font-weight: 500;
                width: 70%;
                padding-left: 0px;
            }

            &-price {
                font-size: 16px;
                font-weight: 500;
                // width: 10%;
                text-align: right;
            }

            &-post {
                margin-top: -10px;

                &-descr {
                    font-size: 12px;
                    padding-left: 0px;
                }
            }
        }

        &__item-smoothies {
            &-descr {
                font-size: 16px;
                font-weight: 500;
                width: 90%;
                padding-left: 0px;
            }

            &-noSugar {
                right: 10px;
            }

        }

        &__items-smoothies {
            &::before {
                content: "";
                position: absolute;
                top: -17px;
                transform: translateY(-50%);
                left: 50%;
                transform: translateX(-50%);
                width: 30px;
                height: 30px;
                background: url("../icons/vegan.png")no-repeat 100%/cover;
            }
        }

        &__item-coffee {
            &-syrup {
                border-radius: 3px;
                padding: 5px;


            }
        }
    }

    .delivery {

        background: url('../img/interier/concrete-mob.jpg') no-repeat 100%/cover;



        &__title {
            font-size: 26px;
            padding-top: 20px;
        }

        &__item {
            width: 90%;

            &-title {
                font-size: 20px;
            }

            &-descr {
                font-size: 17px;
            }
        }

        &__explanation {
            font-size: 16px;
        }
    }

}

@media(max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 5px;
    }

    .promo {
        height: calc(85vh);

        &__icons {
            width: 35%;
        }
    }

    .description {
        padding-bottom: 35px;


        &__wrapper {
            display: block;

            padding-top: 15px;
        }

        &__img {
            width: 100%;
            height: 400px;
            padding-right: 0;

            &:nth-child(1) {
                display: none;
                visibility: hidden;
            }

            img {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: 100%;
            }
        }

        &__about {
            padding: 10px;
        }
    }

    .novelty {
        &__pre {
            // background: url('../img/interier/brick-thin.jpg');
            background-attachment: scroll;
            height: 80px;
        }

        &__img {
            &:nth-child(2) {
                display: none;
            }
        }
    }

    .promotion {
        &__pre {
            background-attachment: scroll;
            height: 80px;
        }

        &__post {
            padding-bottom: 250px;
        }

        &__title {
            font-size: 26px;
            padding-top: 20px;
        }

        &__item {
            width: 100%;

            &-title {
                font-size: 18px;
            }

            &-descr {
                font-size: 15px;
            }

            &-wrapper {
                width: 80%;
            }

            &-logo {
                width: 20%;
            }
        }

        &__explanation {
            font-size: 14px;
            font-weight: 300;
        }
    }

    .footer {
        flex-direction: column;
        height: 230px;

        margin-top: -230px;

        &-logo {
            width: 90%;
            padding-bottom: 15px;
        }

        &-contacts {
            width: 100%;
            padding-bottom: 15px;
            justify-content: center;
            align-items: center;

            &-item {
                justify-content: center;

                &-descr {
                    font-size: 14px;
                }

            }


        }

        &__powered {
            font-size: 12px;
            width: 90%;
            // padding-bottom: 15px;
            padding-right: 15px;
        }
    }

    .menu {
        padding-bottom: 260px;

        &__container {
            border-radius: 3px;
            box-shadow: -10px -10px 8px 4px rgba(239, 240, 185, 0.2), 10px 10px 8px 4px rgba(239, 240, 185, 0.2);

            &-title {

                font-weight: 500;

            }
        }

        &__items {
            padding-top: 5px;

        }

        &__item {
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-bottom: 4px;
            line-height: 15px;

            &-price {

                font-size: 14px;
                font-weight: 500;
                width: 12%;
                text-align: right;
                align-self: flex-start;

            }

            &-descr {
                span {
                    font-size: 14px;
                    align-self: flex-start;
                }

                font-size: 12px;
                font-weight: 500;
                width: 80%;
                padding-left: 5px;
                align-self: flex-start;
            }

            &-new {
                // width: 10%;
                padding-left: 5px;
                animation-name: new;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                align-self: flex-start;

                img {
                    width: 20px;
                }
            }
        }

        &__item-post {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 10px;
            margin-top: -5px;
            padding-bottom: 5px;

            &-price {
                font-size: 11px;
                font-weight: 400;
                width: 12%;
                text-align: right;
            }

            &-descr {
                font-size: 10px;
                font-weight: 400;
                width: 85%;
                padding-left: 10px;
            }

            &-new {
                width: 10%;

                img {
                    width: 25px;
                }
            }
        }

    }

    .glutenFree {
        &::before {
            top: 2px;
            // transform: translateX(-50%);
            left: -15px;
            width: 10px;
            height: 10px;

        }
    }

    .vegan {
        &::before {
            top: 2px;
            // transform: translateX(-50%);
            left: -15px;
            width: 10px;
            height: 10px;

        }
    }

    .sugarFree {
        &::after {
            top: 2px;
            left: -27px;
            width: 10px;
            height: 10px;

        }
    }

    .delivery {
        background: url('../img/interier/concrete-mob.jpg') no-repeat 100%/cover;
        padding-bottom: 250px;


        &__title {
            font-size: 26px;
            padding-top: 20px;
        }

        &__item {
            width: 100%;

            &-title {
                font-size: 18px;
            }

            &-descr {
                font-size: 15px;
            }

            &-wrapper {
                width: 80%;
            }

            &-logo {
                width: 20%;
            }
        }

        &__explanation {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

// @media(max-width: 429px) {}