@media(max-height: 1366px) {
    .container {
        max-width: 1140px;
    }

    .description {
        &__about {
            right: 0px;
        }
    }

}

@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .promo {
        &__goodMorning {
            width: 80%;

            &-hello {
                font-size: 28px;
            }

            &-text {
                font-size: 20px;
            }
        }
    }


    .description {
        &__about {
            width: 400px;
            min-height: 300px;
            right: -50px;
        }
    }




}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header {
        &__logo {
            width: 10%;

            &-text {
                display: none;
            }
        }

        &__items {
            width: 90%;

            &-item {
                a {
                    font-size: 16px;
                }

            }
        }
    }

    .promo {
        &__goodMorning {
            width: 80%;

            &-hello {
                font-size: 24px;
            }

            &-text {
                font-size: 18px;
            }
        }
    }


    .description {
        &__about {
            position: static;
            top: auto;
            right: inherit;
            margin-top: 10px;
            width: 100%;
            min-height: 150px;

            &-title {
                text-align: center;
            }

            &-text {
                font-size: 18px;
            }
        }
    }

    .novelty {
        &__img {
            &:nth-child(1) {
                height: 400px;
                box-shadow: -10px -10px 8px 4px rgba(239, 240, 185, 0.2), 10px 10px 8px 3px rgba(239, 240, 185, 0.2);
            }

            &:nth-child(2) {
                width: 300px;
                margin-left: 10px;
                box-shadow: -10px -10px 8px 4px rgba(239, 240, 185, 0.2), 10px 10px 8px 3px rgba(239, 240, 185, 0.2);
            }
        }

        &__menu {
            position: relative;
            width: 100%;
            top: 0px;
            left: 0px;
            margin-top: 15px;
        }

        &__wrapper {

            justify-content: space-around;

        }

    }


}

@media(max-width: 768px) {

    .container {
        max-width: 540px;
    }

    .header {
        &__logo {
            width: 40%;

            &-text {
                display: block;
            }
        }

        &__items {
            display: none;
        }

        &__hamburger {
            display: block;
            visibility: visible;
        }
    }

    .promo {
        animation: showBackgroundMobile 18s ease infinite alternate;

        &__goodMorning {
            width: 80%;
            left: 40px;

            &-hello {
                font-size: 26px;
            }

            &-text {
                font-size: 18px;
            }
        }
    }


    .description {
        background: url('../img/interier/concrete.jpg') no-repeat 100%/cover;
        // box-shadow: none;
        // background-attachment: none;
        &__title {
            font-size: 26px;
        }

        &__wrapper {
            justify-content: space-between;
            padding-top: 25px;
        }

        &__img {
            width: 270px;
            height: 400px;
            padding-right: 0;
        }
    }

    .novelty {
        &__title {
            font-size: 26px;
            padding-top: 20px;
        }

        &__post {
            background: url('../img/interier/concrete.jpg') no-repeat 100%/cover;
            box-shadow: none;
            // background-attachment: none;
        }
    }

}

@media(max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .promo {
        height: calc(85vh);

        &__icons {
            width: 35%;
        }
    }

    .description {
        padding-bottom: 35px;


        &__wrapper {
            display: block;

            padding-top: 15px;
        }

        &__img {
            width: 100%;
            height: 400px;
            padding-right: 0;

            &:nth-child(1) {
                display: none;
                visibility: hidden;
            }

            img {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: 100%;
            }
        }

        &__about {
            padding: 10px;
        }
    }

    .novelty {
        &__pre {
            // background: url('../img/interier/brick-thin.jpg');
            background-attachment: scroll;
            height: 80px;
        }

        &__img {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

@media(max-width: 429px) {}