@media(max-height: 1366px) {}

@media(max-width: 1200px) {}

@media(max-width: 992px) {
    .header {
        &__logo {
            width: 10%;

            &-text {
                display: none;
            }
        }

        &__items {
            width: 90%;

            &-item {
                a {
                    font-size: 18px;
                }

            }
        }
    }
}

@media(max-width: 768px) {
    .header {
        &__logo {
            width: 40%;

            &-text {
                display: block;
            }
        }

        &__items {
            display: none;
        }

        &__hamburger {
            display: block;
            visibility: visible;
        }
    }
    .promo {
        animation: showBackgroundMobile 18s ease infinite alternate;
        &__goodMorning {
            width: 80%;
            &-hello {
                font-size: 24px;
            }
            &-text {
                font-size: 16px;
            }
        }
    }
}

@media(max-width: 576px) {}

@media(max-width: 429px) {}