.promo {
    position: relative;
    width: 100%;
    height: 100vh;
    // background: url("../img/interier/main1.jpg");
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6488731234681373) 0%, rgba(0, 0, 0, 0.44159021030287116) 0%, rgba(0, 0, 0, 0) 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    animation: showBackground 18s ease infinite alternate;
    box-shadow: 0px 10px 15px rgba(239, 240, 185, 0.9);

    &__icons {
        position: absolute;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 20px;
        right: 20px;
    }
    &__icon {
        width: 30%;
        opacity: 0;
        transition: 2s all;
    }

    .icon-scroll {
        width: 20px;
        height: 35px;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: inset 0 0 0 2px #fff;
        border-radius: 25px;
        z-index: 10;

        &::before {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            background: #fff;
            margin-left: -2px;
            left: 50%;
            transform: translateX(-50%);
            top: 5px;
            border-radius: 100%;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-name: scroll;
        }
    }

    &__goodMorning {
        width: 40%;
        position: absolute;
        z-index: 5;
        color: azure;
        top: 100px;
        left: 80px;

        &-hello {
            font-weight: 500;
            text-transform: uppercase;
            font-size: 65px;
            text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.9), -3px -3px 20px rgba(0, 0, 0, 0.9), -3px 3px 20px rgba(0, 0, 0, 0.9), 3px -3px 20px rgba(0, 0, 0, 0.9);

        }

        &-text {
            font-weight: 400;
            // text-transform: lowercase;
            font-size: 35px;
            text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.9), -3px -3px 20px rgba(0, 0, 0, 0.9), -3px 3px 20px rgba(0, 0, 0, 0.9), 3px -3px 20px rgba(0, 0, 0, 0.9);
        }

        &-list {
            li {
                line-height: 32px;
                text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.9), -3px -3px 20px rgba(0, 0, 0, 0.9), -3px 3px 20px rgba(0, 0, 0, 0.9), 3px -3px 20px rgba(0, 0, 0, 0.9);
            }
        }
    }
}